<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="calendar-make-detail-master">
    <nav class="nav">
        <div class="left-nav">
            <div class="calendar-button text-indent">
                <div class="calendar-button-image-outer-box">
                    <div class="calendar-back-button">
                        삭제
                    </div>
                </div>
            </div>
            <div class="calendar-button color-red">
                저장
            </div>
            <div class="calendar-button">
                삭제
            </div>
        </div>
    </nav>
    <main>
        <input class="" type="text" title="일정 제목" name="calendar_title" placeholder="제목없는 일정">
        <div class="calendar-date-input-box-group">
            <input class="calendar-date-input" name="start_day">
            <input class="calendar-date-input" name="start_hour">
            -
            <input class="calendar-date-input" name="end_day">
            <input class="calendar-date-input" name="end_hour">
        </div>
        <ul class="nav nav-tabs" role="tablist" id="google_calendar_tab" style="min-height: 0;">
            <li class="active">
                <a href="#detail_information" role="tab" data-toggle="tab" >
                    일부 세부 정보
                </a>
            </li>
            <li>
                <a href="#find_time" role="tab" data-toggle="tab">
                    시간 찾기
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="detail_information">
                ...1
            </div>
            <div role="tabpanel" class="tab-pane" id="find_time">
                ...2
            </div>
        </div>
    </main>
</div>
<script>
    $('#google_calendar_tab a').on('click',function(evt){
        evt.preventDefault();
        $(this).tab('show');
    })
</script>
</body>
</html>