<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="calendar-make-detail-master">
    <nav class="nav">
        <div class="left-nav">
            <div class="calendar-button text-indent">
                <div class="calendar-button-image-outer-box">
                    <div class="calendar-back-button">
                        삭제
                    </div>
                </div>
            </div>
            <div class="calendar-button color-red">
                저장
            </div>
            <div class="calendar-button">
                삭제
            </div>
        </div>
    </nav>
    <main>
        <input class="" type="text" title="일정 제목" name="calendar_title" placeholder="제목없는 일정">
        <div class="calendar-date-input-box-group">
            <input class="calendar-date-input" name="start_day">
            <input class="calendar-date-input" name="start_hour">
            -
            <input class="calendar-date-input" name="end_day">
            <input class="calendar-date-input" name="end_hour">
        </div>

    </main>
</div>
</body>
</html>